.card {
  width: 250px;
  margin: 20px auto; /* centraliza horizontalmente */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.foto {
  background-color: black;
  height: 150px;
}

.info {
  padding: 10px;
  font-family: Arial, sans-serif;
}

.nome, .propriedade {
  font-family: Arial, sans-serif;
}

.email {
  font-family: Verdana, sans-serif;
  background-color: gray;
}